.main-title {
    padding: 30px 0px;
}
.note-title{
    border-bottom: 1px solid black; 
    font-size: 28px;
    padding-bottom: 10px;
    margin-top: 30px;
 }
.box {
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;

    &-title {
        font-size: 24px;
        margin-bottom: 10px;

    }

    &-inp {
        width: 100%;
        margin-bottom: 15px;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        resize: vertical;
        font-family: inherit;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
    }

    &-btn {
        width: 100px;
        padding: 10px 10px;
        border: none;
        color: white;
        background-color: #0d6efd;
        font-size: 16px;
        font-weight: bold;
        border-radius: 5px;
        transition: 0.3s;
        &:hover{
           filter: contrast(70%); 
           transition: 0.3s;
        }
    }
}