* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.app {
    background-color: rgba(32, 201, 150, 0.3176470588);



    .main {
       display: flex;
       flex-wrap: wrap;
       width: 1024px;
       margin: auto;
        padding-top:30px ;

    }

 
}